.fav-container {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 20px;
}

.item {
  border: 2px solid rgb(0, 0, 0);
  width: 200px;
  height: 200px;
  border-radius: 25px;
  background-color: bisque;
  box-shadow: 6px 6px 1px black;
  font-style: italic;
  text-align: center;
  color: black;

  display: flex;
  flex-direction: column;
}

.item {
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px black;
}

.favQuote {
  margin-top: 20px;
  display: block;
  text-align: center;
}

.favAuthor {
  margin-top: 10px;
  display: block;
  text-align: center;
}

.removeBtn {
  margin-top: auto;
  margin-bottom: 10px;
  width: 50px;
  height: 25px;
  align-self: center;
  border-radius: 10px;
  box-shadow: 2px 2px 1px black;
}

.removeBtn:hover {
  transform: translateY(1px);
}

.removeBtn:active {
  transform: scale(0.96);
  box-shadow: 1px 1px 1px black;
}

.tumbleweedGif {
  border: 2px solid rgb(0, 0, 0);
  width: 200px;
  height: 200px;
  border-radius: 25px;
  box-shadow: 5px 7px black;
}
